@font-face {
  font-family: 'Bravura';
  src: url(/media/fonts/bravura.woff2) format(woff2);
}

body {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

svg {
  fill: #000;
  stroke: #000;
}

.gutter {
  background-color: var(--bg-2);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

nav {
  height: 5vh;
  background-color: var(--bg-2);
}

.contain {
  display: flex;
  height: 95vh;
}
#left, #right {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--bg-2);
}
#left > div, #right > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 0.5rem;
  background-color: var(--bg-3);
  font-size: 150%;
  font-family: Bravura, Lexend, Arial;
}
